{% extends "layout.html" %}
<link rel="stylesheet" href="{{ static }}style.css">
{% block body %}
    <div class="container text-center" style="background-color: rgba(255, 169, 169, 0.596)">
    <div class="col-xl-" style="background-color: rgba(255, 169, 169, 0.596)">
            <div class="jumbotron vertical-center" style="background-color: rgba(255, 169, 169, 0.596)" >
                <div class="contenedor" style="background-color: rgba(255, 169, 169, 0.596)">
                    <h1 class="display-2" style='color: #d44d4d;'><b>Project 3: Pizza</b></h1>

                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <p class="lead">Let's start</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
